*.zip
test/fixtures/coa/
node_modules/
node_modules/
*.bak
build.sh.backup
*.tar

# Local Netlify folder
.netlify
test/fixtures/extracted/
.env

# Written by build.sh at deploy time (lib/version.js). Never commit one.
netlify/functions/lib/build-info.json
